* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

header .container {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

header .logo h2 {
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #03a4ed;
}

header .logo span {
    color: #fe3f40;
}

header .link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    gap: 30px;
}

header .link ul {
    display: flex;
    gap: 25px;
    padding-top: 10px;
}

header .link a {
    font-size: 18px;
    color: #2a2a2a;
    transition: 0.5s;
}

header .link a:hover {
    color: #fe3f40;
}

header button {
    width: 150px;
    height: 45px;
    border-radius: 30px;
    color: #fff;
    background-color: #fe3f40;
    border: none;
    transition: 0.5s;
}

header button:hover {
    background-color: #03a4ed;
}

header .fa-bars {
    font-size: 30px;
    display: none;
}

.we-make {
    /* height: 700px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.we-make .container {
    width: 80%;
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.we-make .welcome {
    color: #fe3f40;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.we-make .digital {
    color: #03a4ed;
}

.we-make .seo {
    color: #fe3f40;
}

.we-make h1 {
    padding: 20px 0;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.we-make p {
    line-height: 30px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.we-make .temp {
    color: #03a4ed;
}

.we-make form {
    padding-top: 30px;
    position: relative;
}

.we-make input {
    width: 100%;
    height: 60px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    outline: none;
    color: #fff;
    padding-left: 5px;
    background-color: #03a4ed;
    position: relative;
}

.we-make ::placeholder {
    padding-left: 30px;
    color: #fff;
}

.we-make button {
    /* width: 9%;
    height: 45px; */
    font-size: 17px;
    border-radius: 50px;
    border: none;
    outline: none;
    position: absolute;
    right: 10rem;
    bottom: 10px;
    color: #fe3f40;
    padding: 10px 25px;
    background-color: #fff;
}

.we-make .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.data {
    margin-top: 15%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url(https://templatemo.com/templates/templatemo_562_space_dynamic/assets/images/about-bg.png);
}

.data .container {
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.data .img {
    object-fit: cover;
    width: 55%;
    height: 400px;
}

.data .analysis {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px;
    gap: 30px;
}

.data .analytics {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px;
    gap: 30px;
}

.data .reporting {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px;
    gap: 30px;
}

.data .suggestions {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px;
    gap: 30px;
}

.data h3 {
    padding: 20px 0;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.data p {
    line-height: 30px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grow {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grow .container {
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.grow .pages {
    object-fit: cover;
}

.grow .content {
    line-height: 35px;
}

.grow h1 {
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grow .seo {
    color: #03a4ed;
}

.grow .project {
    color: #fe3f40;
}

.grow p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    padding: 20px 0;
}

.grow h4 {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grow .number {
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    color: #03a4ed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grow .website {
    margin: 25px 0;
}

.grow .line-1 {
    display: block;
    width: 90%;
    height: 5px;
    border-radius: 50px;
    background-color: #999;
}

.grow .line-1 span {
    display: block;
    width: 65%;
    height: 5px;
    background-color: #fe3f40;
    border-radius: 50px;
}



.grow .line-2 {
    display: block;
    width: 90%;
    height: 5px;
    border-radius: 50px;
    background-color: #999;
}

.grow .line-2 span {
    display: block;
    width: 80%;
    height: 5px;
    background-color: #fe3f40;
    border-radius: 50px;
}


.grow .line-3 {
    display: block;
    width: 90%;
    height: 5px;
    border-radius: 50px;
    background-color: #999;
}

.grow .line-3 span {
    display: block;
    width: 90%;
    height: 5px;
    background-color: #fe3f40;
    border-radius: 50px;
}



.see {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.see .container {
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.see .offers {
    color: #03a4ed;
}

.see .provide {
    color: #fe3f40;
}

.see .content {
    width: 45%;
    display: flex;
    text-align: center;

}

.see h1 {
    padding: 30px;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.see .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.see .seo {
    position: relative;
}


.see .hidden {
    background: linear-gradient(105deg, rgba(255, 77, 30, 1) 0%, rgba(255, 44, 109, 1) 100%);
    padding: 30px;
    margin: 30px;
    width: 250px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    font-size: 17px;
    position: absolute;
    z-index: -1;
}

.see .seo:hover .hidden {
    position: absolute;
    z-index: 2;
    animation: anime 2s ease 0s 1 normal forwards;
}

@keyframes anime {
    0% {
        top: -10px;
    }

    100% {
        top: -130px;
    }
}

.see .showed {
    width: 250px;
    background-color: #fff;
    text-align: center;
    padding: 30px;
    margin: 30px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.check {
    height: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

.check .container {
    width: 85%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check .left {
    margin-bottom: 40%;
}

.check h2 .trending {
    color: #03a4ed;
}

.check h2 .news {
    color: #fe3f40;
}

.check h2 {
    width: 70%;
    padding: 30px 0;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.check .left img {
    border-radius: 20px;
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.check .images {
    padding: 30px 0;
    position: absolute;
}

.check .left .card {
    position: relative;
    padding: 30px;
    width: 80%;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    top: 500px;
    border-radius: 20px;
}

.check .left i {
    color: #fe3f40;
}

.check .left .march {
    padding: 0 20px;
    font-size: 13px;
    color: rgb(199, 197, 197);
}

.check .left h4 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px 0;
}

.check .left button {
    border-radius: 25px;
    padding: 15px 30px;
    border: none;
    font-size: 15px;
    color: #fff;
    background-color: #03a4ed;
    position: absolute;
    bottom: -50px;


}

.check .right .cards {
    display: flex;
    padding: 10px;
}

.check .right .content {
    width: 60%;
}

.check .right i {
    color: #fe3f40;
}

.check .right .march {
    padding: 0 20px;
    font-size: 13px;
    color: rgb(199, 197, 197);
}

.check .right h4 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px 0;
}

.check .right img {
    border-radius: 30px;
}

.feel {
    margin-top: 4%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url(https://templatemo.com/templates/templatemo_562_space_dynamic/assets/images/contact-bg.png);

}

.feel .container {
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.feel .info {
    width: 45%;
    color: #fff;
}

.feel .icon {
    display: flex;
    gap: 25px;
}

.feel i {
    color: #fe3f40;
    background-color: #fff;
    padding: 13px;
    border-radius: 50%;
    font-size: 20px;
}

.feel form {
    width: 45%;
    background-color: #fff;
}





@media (max-width: 600px){

 header .link{
    display: none;
}
.logo{
    width: 100%;
}

header .fa-bars{
    display: block;
}

.we-make h1{
    font-size: 30px;
}
}